/* header */
.header {
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    background-color: #17a72a;
    top: 0;
}
.header a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}
.header a.right {
    float: right;
}
/* Column Container */
.container {
    display: flex;
    flex-wrap: nowrap;
}
/* Side Navigation */
.side {
    flex: 0 0 20%;
    background-color: #666;
    padding: 15px;
}
.side a {
    padding: 6px 10px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #17a72a;
    display: block;
}
.side a:hover {
    color: #0d6319;
}
/* Main */
.main {
    flex: 1;
    background-color: aliceblue;
    padding: 20px;
}
