html,
body {
    min-height: 100vh;
    margin: 0;
}
/* header */
.header {
    position: sticky;
    background-color: #4aba91;
    top: 0;
    left: 0;
    z-index: 1000;
    min-height: 60px;
}
.header a {
    float: left;
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 25px;
}
.header a.right {
    float: right;
}
/* Column Container */
.container {
    display: flex;
    min-height: calc(100vh - 70px);
}
/* Side Navigation */
.side {
    position: fixed;
    top: 60px;
    left: 0;
    width: 25%;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    background-color: #626767;
    padding: 20px;
}
.side a {
    padding: 6px 10px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #d4ce46;
    display: block;
}
.side a:hover {
    color: #949133;
}
/* Main */
.main {
    margin-left: 0;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    padding-left: 23%;
}
